@import "tailwindcss";

@font-face {
  font-family: "Grupi Sans";
  src: url("/fonts/Grupi Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fbf7f3;
  --primary: #f65d00;
  --secondary: #b04300;
  --radius: 30px;
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-bowlby-one-sc: var(--font-bowlby-one-sc);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --radius-default: var(--radius);
  --font-grupi-sans: "Grupi Sans", sans-serif;
  --font-bowlby-one-sc: var(--font-bowlby-one-sc);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #fbf7f3;
    --color-primary: #f65d00;
    --color-secondary: #b04300;
    --radius-default: var(--radius);
    --font-sans: var(--font-montserrat);
    --font-poppins: var(--font-poppins);
    --font-grupi-sans: "Grupi Sans", sans-serif;
    --font-bowlby-one-sc: var(--font-bowlby-one-sc);
  }
}

body {
  background: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-montserrat);
}

@layer components {
  .container {
    @apply !max-w-[58rem] lg:!max-w-[1284px] mx-auto px-[24px] lg:px-4;
  }

  .page-title {
    @apply text-[32px] lg:text-[64px] text-center bg-primary text-transparent;
    text-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.7px rgba(0, 0, 0, 0.4);
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .inner-shadow-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-grupi-sans) !important;
    @apply text-primary;
  }
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
